.bank {
  position: fixed;
  width: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 0 0 10px 0;
  border-bottom: 2px solid gold;
  border-right: 2px solid gold;
  padding: 4px;
}

.bank div {
  margin: 2px;
}