.frame, .rupeeFrame {
  position: absolute;
  top: 210px;
  left: 20px;
  cursor: default;
  width: 160px;
  height: 90px;
  border-radius: 10px;
  border: 2px solid gold;
  background-color: black;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-gap: 10px;
  justify-content: center;
  z-index: 1;
  box-sizing: border-box;
}

.frame div, .rupeeFrame div {
  height: 32px;
  width: 32px;
  background-color: black;
  margin-top: 34px;
  border: 2px solid gold;
  padding: 2px;
  border-radius: 5px;
  margin-top: 38px;
}

.rupeeFrame {
  height: 140px;
}

.titleInput {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  margin: auto;
  top: 5px;
  width: 152px;
  position: absolute;
  border: none;
  background-color: gold;
  color: black;
  padding: 2px;
  font-size: 1.5rem;
  text-align: center;
}

.frameShopInput {
  width: 33px;
  position: relative;
  left: -2px;
  top: -2px;
  color: black;
  background-color: gold;
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
  border: none;
  margin: none;
  padding: none;
  text-align: center;
}

.rupeeInputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -14px !important; 
  margin-top: 0px !important;
  height: 43px !important;
  margin: auto !important;
  border-radius: 0 0 10px 10px !important;
}

.rupeeInputContainer img {
  height: 21px;
  width: 10px;
  margin: auto;
}

.bankFrame {
  border-radius: 5px;
  border: 2px solid gold;
  padding: 4px;
}