.icon {
  /* width: 40px;
  height: 40px; */
}

.icon img {
  min-height: 10px;
  min-width: 15px;
  max-height: 30px;
  max-width: 15px;
  image-rendering: pixelated;
  background-color: rgb(0, 153, 255);
  padding: 4px;
  border-radius: 5px;
  border: 2px solid black;
}